*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
.idea/*

# Maven
target/
dependency-reduced-pom.xml

.springBeans


bin
build
.gradle
